<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_uit_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIT"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoadDataActivity"
            android:label="@string/title_activity_load_data"
            android:theme="@style/Theme.UIT.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.UIT.NoActionBar"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="UIT"
            android:theme="@style/Theme.UIT.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".noti.ThongBaoBroadcast"/>

    </application>

</manifest>